.title
{
    background-color: rgb(214, 93, 93);
    overflow: hidden;
}

.button1
{
    text-transform: uppercase;
    border-radius: 50%;
    cursor: pointer;
    padding: 150px;
    box-shadow: 5px 10px rgb(158, 158, 158);
    background-color: red;
    font-size: 18px;
    font-weight: bold;
    height: 150px;
    width: 150px;
    border: 3px solid black;
}

.button2
{
    border-radius: 12px;
    padding: 25px;
    background-color: red;
    box-shadow: 5px 10px , rgb(158, 158, 158);
    font-size: 18px;
}

.main-btn
{
    align-items: center;
    text-align: center;
    border-radius: 50%;
}

.signup
{
    text-align: center;
}

.para
{
    text-align: center;
    font-size: 24px;
}

footer
{
    display: block;
    text-align: center;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
 
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #ddd;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

